{% load staticfiles %}
{% load bootstrap %}
<! DOCTYPE html >
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}TITLE{% endblock title %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}"
    {% block css %}
    {% endblock css %}
  </head>

  <body>
    <!-- navigation -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header col-md-1">
          <a class="navbar-brand" href="{% url 'home' %}">Todo</a>
        </div>
        <ul class="nav navbar-nav col-md-3">
          <li class="{% block nav_today %}{% endblock %}">
            <a href="{% url 'today_view' %}">Today</a>
          </li>
        </ul>
        <ul class="nav navbar-nav col-md-4">
          {% block custom_nav %}
          {% endblock %}
        </ul>
        <ul class="nav navbar-nav col-md-4">
          {% if user.is_authenticated %}
          <li class="pull-right">
            <a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
          </li>
          {% else %}
          <li class="pull-right">
            <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Log in</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- content -->
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

    <!-- footer -->
    <footer>
      Copyright by Dagothar 2016
    </footer>

    <!-- JS -->
    <script src="{% static 'vendor/jquery-2.2.3/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
