{% extends 'todo/base.html' %}
{% load bootstrap %}

{% block title %}day view{% endblock title %}

{% block custom_nav %}
          <li>
            <a href="/todo/{{ prev_date|date:'Y/m/d' }}" class="glyphicon glyphicon-menu-left"></a>
          </li>
          <li>
            <p class="navbar-text">{{ date|date:'Y' }}</p>
          </li>
          <li>
            <a href="/todo/{{ date|date:'Y/m' }}">{{ date|date:'m' }}</a>
          </li>
          <li>
            <a href="/todo/{{ date|date:'Y/m/d' }}">{{ date|date:'d' }}</a>
          </li>
          <li>
            <a href="/todo/{{ next_date|date:'Y/m/d' }}" class="glyphicon glyphicon-menu-right"></a>
          </li>
{% endblock custom_nav %}

{% block content %}
    <!-- tasks -->
    <div class="panel-body">
      <ul class="list-group">
        <!-- new task form -->
        <li class="list-group-item list-group-form">
          <form method="post" action="#">
            {% csrf_token %}
            <div class="input-group {% if form.description.errors %}has-error{% endif %}">
          	  <input
                id="description"
                class="form-control"
                type="text"
                name="description"
                autofocus="autofocus"
                placeholder="{%if form.description.errors %}You must provide a task description!{% else %}Your new task{% endif %}"
              >
              <span class="input-group-btn">
              	<button class="btn btn-success" type="submit">Add task</button>
            	</span>
            </div>
          </form>
        </li>

        <!-- task list -->
        {% for task in tasks %}
        <li class="list-group-item">
          <!-- task status -->
          {% if task.status %}
          <a href="{% url 'toggle_task' task.id %}" class="glyphicon glyphicon-check"></a>
          {% else %}
          <a href="{% url 'toggle_task' task.id %}" class="glyphicon glyphicon-unchecked"></a>
          {% endif %}

          <!-- task description -->
          {% if task.status %}<del>{% endif %}
          {{ task.description }}
          {% if task.status %}</del>{% endif %}

          <!-- edit -->
          <a href="{% url 'delete_task' task.id %}" class="glyphicon glyphicon-remove text-danger pull-right"></a>
        </li>
        {% endfor %}
      </ul>
    </div>
{% endblock content %}
