{% extends 'todo/base.html' %}

{% block title %}day view{% endblock title %}

{% block custom_nav %}
      <ul class="nav navbar-nav">
        <li>
          <a href="/todo/{{ prev_date|date:'Y/m/d' }}" class="glyphicon glyphicon-menu-left"></a>
        </li>
        <li>
          <a href="/todo/{{ date|date:'Y/m/d' }}">{{ date|date:'Y-m-d' }}</a>
        </li>
        <li>
          <a href="/todo/{{ next_date|date:'Y/m/d' }}" class="glyphicon glyphicon-menu-right"></a>
        </li>
      </ul>
{% endblock custom_nav %}

{% block content %}
    <!-- task list -->
    <div class="panel-body">
      <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item">
          <!-- task status -->
          {% if task.status %}
          <a href="#" class="glyphicon glyphicon-check"></a>
          {% else %}
          <a href="#" class="glyphicon glyphicon-unchecked"></a>
          {% endif %}

          <!-- task description -->
          {{ task.description }}

          <!-- edit -->
          <a href="{{ request.path }}" class="glyphicon glyphicon-remove text-danger pull-right"></a>
        </li>
        {% endfor %}
      </ul>
    </div>
{% endblock content %}
