{% extends 'todo/base.html' %}

{% block title %}day view{% endblock title %}

{% block content %}
    {{ date }}
    <!-- task list -->
    <div class="panel-body">
      <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item">
          {% if task.status %}
          <a href="#" class="glyphicon glyphicon-check"></a>
          {% else %}
          <a href="#" class="glyphicon glyphicon-unchecked"></a>
          {% endif %}
          {{ task.description }}
        </li>
        {% endfor %}
      </ul>
    </div>
{% endblock content %}
