{% extends 'todo/base.html' %}
{% load bootstrap %}

{% block title %}Register{% endblock title %}

{% block content %}
    <div class="col-md-offset-4 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Register
        </div>
        <div class="panel-body">
          <form method="post" action="#">
            {% csrf_token %}
            {{ form|bootstrap }}
            <input type="submit" value="Register" />
          </form>
        </div>
      </div>
    </div>
{% endblock content %}
